<head>
<link rel="stylesheet" type="text/css" href="../../media/css/project.css">
</head>

{% extends "base.html" %}
{% load i18n %}

{% block title %} Wines | Arkansas Wineries {% endblock %}

{% block extrahead %}
    <script type="text/javascript">
    $('input:submit').click(function(){
        $(this).attr("disabled", "disabled").parent('form').submit();
    });
</script>
{% endblock %}


{% block BodySection %}
    <body>
        <table id="customTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Style</th>
                    <th>Rank</th>
                    <th>Winery</th>
                    <th>Short Description</th>
                </tr>
            </thead>
            <tbody>
                {% for wine in Wines %}
                    <tr>
                        <td> <a href ="#">{{ wine.name }}</a></td>
                        <td>{{ wine.wineType }}</td>
                        <td>{{ wine.wineStyle }}</td>
                        <td>{{ wine.rank }}</td>
                        <td>{{ wine.winery }}</td>
                        <td>{{ wine.shortDesc }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}