* { 
	margin:0;
	padding:0;
	
}

body 
{
	 background-image:url("../images/knitting250px.png");
	 width:100%;
	 padding:50px 0;
	 margin:0 auto; 
	 font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1
{
	font-family: Papyrus, fantasy;
	font-size: 30px;
	text-align: center;
	
}

#navBar 
{

	width: 100%;
	float: left;
	text-align: center;
	margin: 0 0 2em 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #181818; 
	border-top: 1px solid #181818; 
}
	
#navBar li 
{
	display: inline-block;
	
}

#navBar  a 
{
	display: inline-block;
	text-align: center;
	padding: 14px 90px;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #7A0029;
}

#navBar li a:hover 
{
	text-decoration:underline;
}

#navBar li a:visited
{
	color: #7A0029;
}

#navBar2
{
	width: 100%;
	text-align: right;
	padding: 0;
	list-style: none;
}

#navBar2  a 
{
	text-align:right;
	padding: 8px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #7A0029;
}

#navBar2 li a:hover 
{
	text-decoration:underline;
}

#navBar2 li a:visited
{
	color: #7A0029;
}

.WineTable, .WineriesTable
{
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
    border-collapse: collapse;


	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.WineTable table, .WineriesTable table
{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.WineTable tr:last-child, .WineTable td:last-child, .WineriesTable tr:last-child, .WineriesTable td:last-child
{
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.WineTable table, .WineTable thead, .WineTable th:first-child,.WineriesTable table, .WineriesTable thead, .WineriesTable th:first-child
{
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.WineTable tr:last-child, .WineTable td:first-child,.WineriesTable tr:last-child, .wineriestable td:first-child
{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.WineTable tr:nth-child(odd), .WineriesTable tr:nth-child(odd)
{ 
	background-color:#ffc9c9; 
}
.WineTable tr:nth-child(even), .WineriesTable tr:nth-child(even)
{ 
	background-color:#ffffff; 
}
.WineTable td, .WineriesTable td
{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:13px;
	font-size:16px;
	font-family:Arial;
	color:#000000;
}
.WineTable tr:last-child, .WineTable td,.WineriesTable tr:last-child, .WineriesTable td
{
	border-width:0px 1px 0px 0px;
}
.WineTable tr, .WineTable td:last-child, .WineriesTable tr, .WineriesTable td:last-child
{
	border-width:0px 0px 1px 0px;
}
.WineTable tr:last-child, .winetable td:last-child, .WineriesTable tr:last-child, .WineriesTable td:last-child
{
	border-width:0px 0px 0px 0px;
}
.WineTable thead, .WineTable th, .WineriesTable thead, .WineriesTable th
{
	background:-o-linear-gradient(bottom, #b22222 5%, #b22222 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b22222), color-stop(1, #b22222) );
	background:-moz-linear-gradient( center top, #b22222 5%, #b22222 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b22222", endColorstr="#b22222");	background: -o-linear-gradient(top,#b22222,#b22222);

	background-color:#b22222;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	color:#ffffff;
}
.WineTable th, .WineTable td, .WineriesTable th, .WineriesTable td
{
    padding: 10px;
    border-width: 0px 1px 1px 0px;
}
.WineTable tr:first-child, .WineTable td:first-child,.WineriesTable tr:first-child, .WineriesTable td:first-child
{
	border-width:0px 1px 1px 0px;
}
.WineTable tr:first-child, .WineTable td:last-child, .WineriesTable tr:first-child, .WineriesTable td:last-child
{
	border-width:0px 0px 1px 1px;
}

form
{
	background: white;
	width: 360px;
	height: 350px;
	padding: 10px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea#message
{
	width:350px;
	height:150px;
	display: block;
}

#footer 
{
	position:relative;
	margin-left:0px; 
	margin-right:0px; 
	margin-top:90px;
	margin-bottom:10px;
	height:20px;
	width:100%;
	clear:both;
	text-align:center;
	list-style:none;
	
}

#footer li
{
	display:block;
	float: left;
	padding: 90px;
}

#footer a
{
	color: #1C1C29;
	font-size: 12px;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star, .rating:hover .rating-star {
    position: relative;
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://seteam.willdev4food.com/media/images/star.gif') 0 -16;
}

.rating-input:checked ~ .rating-star {
	background-position: 0 0;
}
.rating-input:checked + .rating-star{
	background-position: 0 -16px;
}
.rating:hover .rating-star:hover ~ .rating-star{
    background-position: 0 0;
}
.rating:hover .rating-star:hover, .rating:hover .rating-star {
	background-position: 0 -16px;
}

#loginLinks ul li a
{
    top:0;
    right:0;
}
