{% extends "base.html" %}

{% block extrahead %}
{% endblock %}


{% block BodySection %}
    <body>
        <table class="WineriesTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>County</th>
                    <th>Postal Code</th>
                    <th>Phone</th>
                    <th>Added On</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for winery in Wineries %}
                    <tr>
                        <td>{{ winery.name }}</td>
                        <td>{{ winery.address1 }}</td>
                        <td>{{ winery.address2 }}</td>
                        <td>{{ winery.city }}</td>
                        <td>{{ winery.county }}</td>
                        <td>{{ winery.postalCode }}</td>
                        <td>{{ winery.phone }}</td>
                        <td>{{ winery.createdOn }}</td>
                        <td>{{ winery.shortDesc }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}