{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="../media/css/project.css">
	    <title> Wine 'n Dine Arkansas </title>
        <script type="text/javascript" src="/media/js/jquery-1.7.2.min.js"></script>
{#        <script type="text/javascript" src="/media/js/jquery-2.0.1.min.js"></script>#}
        <script type="text/javascript" src="/media/js/jquery-ui-1.8.custom.min.js"></script>
        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        <h1> Wine 'n Dine Arkansas </h1>
	    <ul id="navBar">
		    <li><a href ="/wines">Wines</a></li>
		    <li><a href ="/wineries">Wineries</a></li>
		    <li><a href ="/recipes">Recipes</a></li>
            <li style="float:right;">{% include "login_links.html" %}</li>
    	</ul>
	</body>

    <body id="{%block bodyId%}{% endblock %}" style="z-index:0;">
        <div style="z-index:5;">
            <div id="topStrip"></div><div id="topStripShadow"></div>
        </div>
        <div id="bodyContentWrapper" style="z-index:897;">
            <div id="bodyContent" style="z-index:898;">
                {% block below_header %}
                    <div style="margin-top:65px;">
                        {% block BodySection %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
        <div class="clearer"></div>
        <div id="bottomStrip"></div>
        {% block extra-script %}{% endblock %}
	</body>
	<body>
	    <ul id="footer">
		    <li><a href ="/privacy_policy">Privacy Policy</a></li>
		    <li><a href ="/terms_of_use">Terms of Use</a></li>
		    <li><a href ="/contact_us">Contact Us</a></li>
	    </ul>
		
    </body>
</html>