{% load i18n %}
<div id="loginLinks">
    {% if user.is_authenticated %}
        <ul style="list-style-type: none;">
            <li><a href="/logout/" style="font-size: 14px;">Sign Out</a></li>
            <li class="sep"></li>
        </ul>
    {% else %}
        <ul style="list-style: none;">
            <li><a href="/login/" style="font-size: 14px;">Sign In</a></li>
            <li class="sep"></li>
            <li><a href="/sign-up/" style="font-size: 14px;">Sign Up</a></li>
        </ul>
    {% endif %}
</div>

<script type="text/javascript">
    function GoTo(lang,url){
        window.location.replace(window.location.protocol + '//' + url + '/select-language?language=' + lang + '&next=' + window.location.pathname)
    }
</script>