<head>
<link rel="stylesheet" type="text/css" href="../media/css/project.css">
</head>
 
<h2>Web Site Terms and Conditions of Use</h2>

<h3>1. Terms</h3>

<div>
	By accessing this web site, you are agreeing to be bound by these 
	web site Terms and Conditions of Use, all applicable laws and regulations, 
	and agree that you are responsible for compliance with any applicable local 
	laws. If you do not agree with any of these terms, you are prohibited from 
	using or accessing this site. The materials contained in this web site are 
	protected by applicable copyright and trade mark law.
</div>

<h3>2. Use License</h3>

<div>
	a.  Permission is granted to temporarily download one copy of the materials 
	(information or software) on this web site for personal, 
	non-commercial transitory viewing only. This is the grant of a license, 
	not a transfer of title, and under this license you may not:
		
		<div> i.  modify or copy the materials; </div>
	    <div> ii.  use the materials for any commercial purpose, or for any public 
		display;</div>
		<div> iii.  attempt to decompile or reverse engineer any software contained
		on this web site;</div>
		<div>remove any copyright or other proprietary notations from the materials; 
		or</div>
		<div>transfer the materials to another person or "mirror" the materials on 
		any other server.</div>
</div>

<div>
	b. This license shall automatically terminate if you violate any of these
	restrictions and may be terminated by our at any time. Upon terminating 
	your viewing of these materials or upon the termination of this license, 
	you must destroy any downloaded materials in your possession whether in 
	electronic or printed format.
	
</div>

<h3>3. Disclaimer</h3>

<div>
	The materials on this web site are provided "as is". our makes no warranties,
	expressed or implied, and hereby disclaims and negates all other warranties, 
	including without limitation, implied warranties or conditions of merchantability, 
	fitness for a particular purpose, or non-infringement of intellectual property 
	or other violation of rights. Further, our does not warrant or make any 
	representations concerning the accuracy, likely results, or reliability of the 
	use of the materials on its Internet web site or otherwise relating to such 
	materials or on any sites linked to this site.

</div>

<h3>4. Limitations</h3>

<div>
	In no event shall our or its suppliers be liable for any damages (including, 
	without limitation, damages for loss of data or profit, or due to business 
	interruption,) arising out of the use or inability to use the materials on 
	our's Internet site, even if our or a our authorized representative has been 
	notified orally or in writing of the possibility of such damage. Because some
	jurisdictions do not allow limitations on implied warranties, or limitations 
	of liability for consequential or incidental damages, these limitations may 
	not apply to you.
</div>
			
<h3>5. Revisions and Errata</h3>

<div>
	The materials appearing on this web site could include technical, typographical, 
	or photographic errors. our does not warrant that any of the materials on its 
	web site are accurate, complete, or current. our may make changes to the materials 
	contained on its web site at any time without notice. our does not, however, 
	make any commitment to update the materials.
</div>

<h3>6. Links</h3>

<div>
	We are not reviewed all of the sites linked to its Internet web site and is not
	responsible for the contents of any such linked site. The inclusion of any link
	does not imply endorsement by our of the site. Use of any such linked web site 
	is at the user's own risk.
</div>

<h3>7. Site Terms of Use Modifications</h3>

<div>
	We may revise these terms of use for its web site at any time without notice.
	By using this web site you are agreeing to be bound by the then current version
	of these Terms and Conditions of Use.
</div>

<h3>8. Governing Law</h3>

<div>
	Any claim relating to this web site shall be governed by the laws of the 
	State of Arkansas without regard to its conflict of law provisions.
</div>

<div>
	General Terms and Conditions applicable to Use of a Web Site.
</div>



